.form {
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
}
.input_link {
    margin-bottom: 50px;
}
.input_template {
    margin-bottom: 60px;
}
.input_text {
    margin-bottom: 30px;
}
input {
    margin-top: 5px;
    width: 65%;
}
select {
    margin-top: 10px;
    width: 65%;
}
button {
    padding: 10px;
    width: 50%;
    background: #5195F2;
    color: #fff;
    border: none;
}
a {
    text-decoration: none;
    color: #fff;
}
p.error {
    color: #c23436;
}
.settings {
    float: right;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
.settings > a {
    color: #000;
}
.is-random {
    margin-top: 30px;
}
.is-random > input {
    display: inline-block;
    width: 15px;
}

h1 {
    font-size: 28px;
    margin-top: 5%;
    margin-left: 10%;
}
h2 {
    margin-bottom: 15px;
}
.input_token {
    margin-bottom: 15px;
}
.tokens {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
.unclickable {
    min-width: 490px;
    border: none;
}
.form-line {
    display: flex;
    flex-direction: row;
}
.form-line > button {
    margin-top: 3px;
    padding: 3px;
    width: 25%;
}

/* The Modal (background) */
.modal {
    display: block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    float: left;
}

.modal-header {
    padding: 10px 10px;
    background-color: #c5504b;
    color: white;
}

.modal-body {
    padding: 10px 15px;
}

.modal-body > p {
    padding: 10px 0 20px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}